<div id="hero" class="Hero" style="background-image:url(https://images.alphacoders.com/633/633643.jpg)">
    <div class="content">
      <img class="logo" src="http://www.returndates.com/backgrounds/narcos.logo.png" alt="narcos background" />
      <h2>Season 2 now available</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Doloremque id quam sapiente unde voluptatum alias vero debitis, 
        magnam quis quod.</p>
      <div class="button-wrapper">
        <app-hero-button primary="true" text="Watch now" ></app-hero-button>
        <app-hero-button primary="false" text="+ My list" ></app-hero-button>
      </div>
    </div>
    <div class="overlay"></div>
  </div>